body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-raleway: Raleway;
  --font-pacifico: Pacifico;

  /* font sizes */
  --font-size-sm: 0.875rem; /* 14px / 16px */
  --font-size-xs: 0.75rem; /* 12px / 16px */
  --font-size-base: 1rem; /* 16px / 16px */
  --font-size-21xl: 2.5rem; /* 40px / 16px */
  --font-size-9xl-4: 1.775rem; /* 28.4px / 16px */
  --font-size-5xl: 1.5rem; /* 24px / 16px */
  --font-size-3xs: 0.625rem; /* 10px / 16px */
  --font-size-8xl-7: 1.73125rem; /* 27.7px / 16px */
  --font-size-sm-9: 0.86875rem; /* 13.9px / 16px */

  /* Colors */
  --color-black: #000;
  --color-whitesmoke: #f2f5f9;
  --color-gainsboro-100: #e3e3e3;
  --color-aliceblue-100: #f2f7fc;
  --color-aliceblue-200: #ebf2fa;
  --color-aliceblue-300: #e1e8ef;
  --color-silver: #b5b5b5;
  --color-gray-100: #f8fbfb;
  --color-gray-200: #1a1003;
  --color-gray-300: #0b0909;
  --color-gray-400: rgba(11, 9, 9, 0.5);
  --color-gray-500: rgba(26, 16, 3, 0.5);
  --color-gray-600: rgba(0, 0, 0, 0.85);
  --color-antiquewhite: #ffeed9;
  --color-white: #fff;
  --color-lightgray: rgba(205, 205, 205, 0.5);
  --color-slategray: #57657a;
  --color-bisque: #ffe3bf;
  --color-papayawhip: #ffebd1;

  /* Gaps */
  --gap-3xs: 0.625rem; /* 10px / 16px */
  --gap-9xs: 0.25rem; /* 4px / 16px */
  --gap-21xl: 2.5rem; /* 40px / 16px */
  --gap-11xs: 0.125rem; /* 2px / 16px */
  --gap-lgi: 1.1875rem; /* 19px / 16px */
  --gap-13xl: 2rem; /* 32px / 16px */
  --gap-xs: 0.75rem; /* 12px / 16px */
  --gap-3xs-1: 0.56875rem; /* 9.1px / 16px */
  --gap-5xs: 0.5rem; /* 8px / 16px */
  --gap-3xs-3: 0.58125rem; /* 9.3px / 16px */

  /* Paddings */
  --padding-5xs: 0.5rem; /* 8px / 16px */
  --padding-3xs: 0.625rem; /* 10px / 16px */
  --padding-xl: 1.25rem; /* 20px / 16px */
  --padding-8xs: 0.3125rem; /* 5px / 16px */
  --padding-11xs: 0.125rem; /* 2px / 16px */
  --padding-12xs: 0.0625rem; /* 1px / 16px */
  --padding-7xs: 0.375rem; /* 6px / 16px */
  --padding-xl-7: 1.29375rem; /* 20.7px / 16px */
  --padding-5xl-8: 1.55rem; /* 24.8px / 16px */
  --padding-11xs-7: 0.10625rem; /* 1.7px / 16px */
  --padding-9xs-3: 0.20625rem; /* 3.3px / 16px */
  --padding-10xs-5: 0.15625rem; /* 2.5px / 16px */
  --padding-25xl: 2.75rem; /* 44px / 16px */
  --padding-9xs: 0.25rem; /* 4px / 16px */
  --padding-3xs-2: 0.575rem; /* 9.2px / 16px */

  /* border radiuses */
  --br-xl: 1.25rem; /* 20px / 16px */
  --br-5xs: 0.5rem; /* 8px / 16px */
  --br-4xs-3: 0.51875rem; /* 8.3px / 16px */
  --br-8xs: 0.3125rem; /* 5px / 16px */
  --br-31xl: 3.125rem; /* 50px / 16px */
  --br-3xs-3: 0.58125rem; /* 9.3px / 16px */
}

@media only screen and (min-width: 1080px) {
  p.lead {
    font-size: 1.7rem;
  }
  .header3{
    margin-top: 1.125rem;
    margin-left: 6.25rem;
  
  }
}

@media only screen and (max-width: 768px) {
  p.lead {
    font-size: 1.7rem;
  }
  .about-me-section {
    margin-top: 110%;
    margin-left: -79%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  p.lead {
    font-size: 1.7rem;
  }
  
  .about-me-section {
    margin-top: 200%;
    margin-left: -110%;
    display: flex;
    flex-direction: column;
    width: auto;

  }
  .header3{
    margin-top: 0.1rem;
    margin-left: 0.3rem;
  }

}
