@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

h1:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073;
}


.slidebar{
    background-color: red;
    
    width: 11vw;
    
    font-family: 'Roboto Mono', monospace; 
    height: 100vh;


}
.slidebar nav{
    padding: 1px;
 
}
.slidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px;
    
}

.main{
    background-color: yellow;
    width:90vw;
    font-family: 'Roboto Mono', monospace;
    
    
   
}
h3:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073;
}
.container{
    display: flex;
}
.infoconatiner{
    background-color: #0073e6;
    height: 78vh;
    width: 70vw;
    margin: 103px auto;
    display: flex;
}