/* Set the base font size (1rem = 10px) */
html {
  font-size: 62.5%; /* 1rem = 10px (10px/16px * 100%) */
}

/* Your existing CSS styles with pixel values converted to rem */

/* ... (Your existing CSS styles with rem units) ... */

/* Media Queries for Responsive Design */

/* Mobile Devices (Up to 767px width) */
@media (max-width: 767px) {
  /* Adjust styles for smaller screens */
}

/* Tablet Devices (768px to 1023px width) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjust styles for tablet screens */
}

/* Desktop Devices (1024px and above width) */
@media (min-width: 1024px) {
  /* Adjust styles for desktop screens */
}

/* Additional Media Queries for Larger Screens if needed */



.wambui1 {
  background: linear-gradient(180deg, #ff9c1a, #ed250a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.beatrice-wambui2 {
  position: relative;
}
.logo1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) 0;
  align-items: center;
  justify-content: flex-start;
}
.vector-icon9 {
  position: relative;
  width: 19.12px;
  height: 19.12px;
}
.header1,
.phmoon1 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.phmoon1 {
  border-radius: var(--br-31xl);
  background-color: var(--color-aliceblue-200);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xs);
  justify-content: center;
}
.header1 {
  position: absolute;
  top: 18px;
  left: 100px;
  width: 1240px;
  height: 104px;
  flex-direction: row;
  padding: var(--padding-25xl) 0;
  justify-content: space-between;
  font-family: var(--font-pacifico);
}
.profile-card1 {
  top: 100px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 700px;
}
.contact-card3,
.profile-card1,
.profile-picture-icon1 {
  position: absolute;
  border-radius: var(--br-xl);
}
.contact-card3 {
  top: 384px;
  left: 25px;
  background-color: var(--color-whitesmoke);
  width: 350px;
  height: 350px;
}
.profile-picture-icon1 {
  top: -4px;
  left: 88px;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.beatrice-wambui3 {
  position: relative;
  line-height: 35.52px;
}
.name3 {
  position: absolute;
  top: 214px;
  left: calc(50% - 117px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28.42px;
  color: var(--color-gray-300);
}
.fullstack-developer1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.career-details1 {
  position: absolute;
  top: 254px;
  left: calc(50% - 76px);
  border-radius: var(--br-8xs);
  width: 153px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.vector-icon10 {
  position: relative;
  width: 10.42px;
  height: 19.84px;
}
.facebook1 {
  border-radius: 8.27px;
  background-color: var(--color-aliceblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 20.67137336730957px 24.805648803710938px;
  align-items: center;
  justify-content: center;
}
.vector-icon11 {
  position: relative;
  width: 15.76px;
  height: 14.88px;
}
.linkedin1,
.rilinkedin-fill1 {
  border-radius: 8.27px;
  background-color: var(--color-aliceblue-100);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rilinkedin-fill1 {
  width: 19.84px;
  flex-direction: column;
  padding: 2.480564832687378px 1.653709888458252px;
  box-sizing: border-box;
}
.linkedin1 {
  flex-direction: row;
  padding: 20.67137336730957px 24.805648803710938px;
}
.vector-icon12 {
  position: relative;
  width: 16.86px;
  height: 13.7px;
}
.ritwitter-fill1 {
  display: flex;
  flex-direction: column;
  padding: 3.307419776916504px 1.653709888458252px;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon13 {
  position: relative;
  width: 16.54px;
  height: 16.13px;
}
.rigithub-fill1 {
  flex-direction: column;
  padding: 1.653709888458252px;
}
.github1,
.rigithub-fill1,
.social-media-icons1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.github1 {
  border-radius: 8.27px;
  background-color: var(--color-aliceblue-100);
  flex-direction: column;
  padding: 20.67137336730957px 24.805648803710938px;
}
.social-media-icons1 {
  position: absolute;
  top: 300px;
  left: 58px;
  flex-direction: row;
  gap: var(--gap-3xs-1);
}
.phone-group-item {
  position: absolute;
  top: 62.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 257px;
  height: 1px;
}
.vector-icon14 {
  position: relative;
  width: 12px;
  height: 20px;
}
.gridiconsphone1,
.phone6 {
  background-color: var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gridiconsphone1 {
  border-radius: 8.27px;
  padding: var(--padding-11xs) var(--padding-7xs);
}
.phone6 {
  border-radius: var(--br-5xs);
  padding: var(--padding-3xs);
}
.phone8 {
  position: relative;
  font-weight: 600;
}
.phone7 {
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div3 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-black);
}
.phone-details1,
.phone5 {
  display: flex;
  justify-content: flex-start;
}
.phone-details1 {
  flex-direction: column;
  padding: var(--padding-8xs) 0;
  align-items: flex-start;
}
.phone5 {
  position: absolute;
  top: 0;
  left: 2px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.phone-group1 {
  position: absolute;
  top: 417px;
  left: 61px;
  width: 256px;
  height: 63px;
}
.vector-icon15 {
  position: relative;
  width: 20px;
  height: 19.36px;
}
.mdiemail-open-outline1 {
  border-radius: 8.27px;
  background-color: var(--color-aliceblue-100);
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-11xs);
}
.email-details2,
.email6,
.mdiemail-open-outline1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email6 {
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue-100);
  flex-direction: column;
  padding: var(--padding-3xs);
}
.email-details2 {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  flex-direction: row;
  gap: var(--gap-xs);
}
.email-group1,
.location-item {
  position: absolute;
  top: 496px;
  left: 58px;
  width: 302px;
  height: 63px;
}
.location-item {
  top: 65.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 257px;
  height: 1px;
}
.vector-icon16 {
  position: relative;
  width: 15px;
  height: 21px;
  z-index: 0;
}
.vector-icon17 {
  position: absolute;
  margin: 0 !important;
  height: 25.13%;
  width: 25.13%;
  top: 110.93%;
  right: 137.43%;
  bottom: 49.93%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.ionlocation-outline1,
.location6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ionlocation-outline1 {
  border-radius: 8.27px;
  background-color: var(--color-aliceblue-100);
  padding: var(--padding-11xs) var(--padding-8xs);
  position: relative;
}
.location6 {
  position: absolute;
  top: 0;
  left: 1.5px;
}
.location5 {
  position: absolute;
  top: 575px;
  left: 59px;
  width: 256px;
  height: 66px;
}
.material-symbolsdownload-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.download-resume1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.download-details1 {
  position: absolute;
  top: 657px;
  left: 109px;
  border-radius: var(--br-xl);
  background: linear-gradient(91.49deg, #ff9c1a, #e80505);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
  color: var(--color-aliceblue-100);
}
.profile-details1 {
  position: absolute;
  top: 174px;
  left: 100px;
  box-shadow: 0 0 1px transparent;
  width: 400px;
  height: 800px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.portfolio-card {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  width: 820px;
  height: 700px;
}
.work2 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 40px;
  font-weight: 500;
}
.work-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  align-items: center;
  justify-content: center;
}
.work-heading-child {
  position: relative;
  width: 254px;
  height: 4px;
}
.work-heading {
  position: absolute;
  top: 28px;
  left: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-21xl);
}
.uiux-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: #fff4e5;
  width: 350px;
  height: 150px;
  z-index: 0;
}
.rental,
.uiux,
.uiux-card-item {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.uiux-card-item {
  top: 8px;
  border-radius: var(--br-5xs);
  width: 334px;
  height: 100px;
  object-fit: cover;
  z-index: 1;
}
.rental,
.uiux {
  top: 126px;
  line-height: 16px;
  z-index: 2;
}
.uiux {
  top: 113px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
  z-index: 3;
}
.uiux-card {
  position: absolute;
  top: 182px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.web-development-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-antiquewhite);
  width: 350px;
  height: 150px;
  z-index: 0;
}
.ideaflow {
  top: 126px;
  line-height: 16px;
  z-index: 1;
}
.ideaflow,
.web-development,
.web-development-card-item {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.web-development {
  top: 113px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  color: var(--color-gray-500);
  z-index: 2;
}
.web-development-card-item {
  top: 8px;
  border-radius: var(--br-5xs);
  width: 334px;
  height: 100px;
  object-fit: cover;
  z-index: 3;
}
.web-development-card {
  position: absolute;
  top: 364px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.blog-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-antiquewhite);
  width: 350px;
  height: 200px;
  z-index: 0;
}
.blog,
.blog-card-item,
.nextjs {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.blog-card-item {
  top: 8px;
  border-radius: var(--br-5xs);
  width: 334px;
  height: 150px;
  object-fit: cover;
  z-index: 1;
}
.blog,
.nextjs {
  top: 178px;
  line-height: 16px;
  z-index: 2;
}
.blog {
  top: 162px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
  z-index: 3;
}
.blog-card {
  position: absolute;
  top: 0;
  left: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mentorship-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-bisque);
  width: 350px;
  height: 200px;
  z-index: 0;
}
.mentorship1,
.tech-mentor {
  position: absolute;
  margin: 0 !important;
  left: 8px;
  line-height: 16px;
}
.tech-mentor {
  top: 176px;
  display: inline-block;
  width: 109px;
  z-index: 2;
}
.mentorship1 {
  top: 160px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
  z-index: 3;
}
.mentorship-card {
  position: absolute;
  top: 232px;
  left: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.app-development-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-bisque);
  width: 350px;
  height: 150px;
  z-index: 0;
}
.app-development {
  position: absolute;
  margin: 0 !important;
  top: 110px;
  left: 8px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  color: var(--color-gray-500);
  z-index: 2;
}
.app-development-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.porfolio-cards {
  position: absolute;
  top: 130px;
  left: 58px;
  width: 724px;
  height: 514px;
  color: var(--color-gray-200);
}
.all {
  color: #fa5252;
}
.all,
.design {
  position: relative;
  font-weight: 500;
}
.work-tags {
  position: absolute;
  top: 90px;
  left: 252px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  color: var(--color-slategray);
}
.work-section {
  position: absolute;
  top: 264px;
  left: 510px;
  width: 840px;
  height: 720px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.home-card-item,
.nav-card1 {
  position: relative;
  border-radius: var(--br-xl);
  z-index: 0;
}
.nav-card1 {
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 503px;
  height: 100px;
}
.home-card-item {
  background-color: var(--color-aliceblue-300);
  width: 80px;
  height: 80px;
}
.home2 {
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.home-card1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.resume2 {
  margin: 0 !important;
  position: absolute;
  top: 13px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.work-card3 {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(91.49deg, #ff9c1a, #e80505);
  width: 80px;
  height: 80px;
  z-index: 0;
}
.work-card2,
.work3 {
  display: flex;
  justify-content: flex-start;
}
.work3 {
  margin: 0 !important;
  position: absolute;
  top: 14px;
  left: 25px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-11xs);
  z-index: 1;
}
.work-card2 {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--color-aliceblue-100);
}
.contact4,
.nav-cards1,
.navbar1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.contact4 {
  margin: 0 !important;
  top: 16px;
  left: 17px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
.nav-cards1,
.navbar1 {
  justify-content: center;
}
.nav-cards1 {
  margin: 0 !important;
  top: 10px;
  left: 31px;
  flex-direction: row;
  gap: var(--gap-21xl);
  z-index: 1;
}
.navbar1 {
  top: 164px;
  left: 839px;
  flex-direction: column;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
}
.work-page {
  position: relative;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
