
body.dark-mode {
  background-color: var(--color-black);
  color: var(--color-whitesmoke);
}
body.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}


.wambui1 {
  background: linear-gradient(180deg, #ff9c1a, #ed250a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.beatrice-wambui2 {
  position: relative;
}

.portfolio-card {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  width: 820px;
  height: 700px;
}
.work2 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 40px;
  font-weight: 500;
}
.work-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  align-items: center;
  justify-content: center;
}
.work-heading-child {
  position: relative;
  width: 254px;
  height: 4px;
  margin-top: 2.3rem;
  margin-left: -15rem;
}
.work-heading {
  position: absolute;
  top: 16px;
  left: 305px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-21xl);
}
.uiux-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: #fff4e5;
  width: 350px;
  height: 150px;
  z-index: 0;
}
.rental,
.uiux,
.uiux-card-item {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.uiux-card-item {
  top: 8px;
  border-radius: var(--br-5xs);
  width: 334px;
  height: 100px;
  object-fit: cover;
  z-index: 1;
}
.rental,
.uiux {
  top: 126px;
  line-height: 16px;
  z-index: 2;
}
.uiux {
  top: 113px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
  z-index: 3;
}
.uiux-card {
  position: absolute;
  top: 182px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.web-development-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-antiquewhite);
  width: 350px;
  height: 150px;
  z-index: 0;
}
.ideaflow {
  top: 126px;
  line-height: 16px;
  z-index: 1;
}
.ideaflow,
.web-development,
.web-development-card-item {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.web-development {
  top: 113px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  color: var(--color-gray-500);
  z-index: 2;
}
.web-development-card-item {
  top: 8px;
  border-radius: var(--br-5xs);
  width: 334px;
  height: 100px;
  object-fit: cover;
  z-index: 3;
}
.web-development-card {
  position: absolute;
  top: 364px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.blog-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-antiquewhite);
  width: 350px;
  height: 200px;
  z-index: 0;
}
.blog,
.blog-card-item,
.nextjs {
  position: absolute;
  margin: 0 !important;
  left: 8px;
}
.blog-card-item {
  top: 8px;
  border-radius: var(--br-5xs);
  width: 334px;
  height: 150px;
  object-fit: cover;
  z-index: 1;
}
.blog,
.nextjs {
  top: 178px;
  line-height: 16px;
  z-index: 2;
}
.blog {
  top: 162px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
  z-index: 3;
}
.blog-card {
  position: absolute;
  top: 0;
  left: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mentorship-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-bisque);
  width: 350px;
  height: 200px;
  z-index: 0;
}
.mentorship1,
.tech-mentor {
  position: absolute;
  margin: 0 !important;
  left: 8px;
  line-height: 16px;
}
.tech-mentor {
  top: 176px;
  display: inline-block;
  width: 109px;
  z-index: 2;
}
.mentorship1 {
  top: 160px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-500);
  z-index: 3;
}
.mentorship-card {
  position: absolute;
  top: 232px;
  left: 374px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.app-development-card-child {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-bisque);
  width: 350px;
  height: 150px;
  z-index: 0;
}
.app-development {
  position: absolute;
  margin: 0 !important;
  top: 110px;
  left: 8px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  color: var(--color-gray-500);
  z-index: 2;
}
.app-development-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.porfolio-cards {
  position: absolute;
  top: 130px;
  left: 58px;
  width: 724px;
  height: 514px;
  color: var(--color-gray-200);
}
.all {
  color: #fa5252;
}
.all,
.design {
  position: relative;
  font-weight: 500;
}
.work-tags {
  position: absolute;
  top: 90px;
  left: 252px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  color: var(--color-slategray);
}
.work-section {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 50rem;
  height: 720px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.home-card-item,
.nav-card1 {
  position: relative;
  border-radius: var(--br-xl);
  z-index: 0;
}
.nav-card1 {
  background-color: var(--color-aliceblue-100);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 503px;
  height: 100px;
}
.home-card-item {
  background-color: var(--color-aliceblue-300);
  width: 80px;
  height: 80px;
}
.home2 {
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.home-card1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.resume2 {
  margin: 0 !important;
  position: absolute;
  top: 13px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.work-card3 {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(91.49deg, #ff9c1a, #e80505);
  width: 80px;
  height: 80px;
  z-index: 0;
}
.work-card2,
.work3 {
  display: flex;
  justify-content: flex-start;
}
.work3 {
  margin: 0 !important;
  position: absolute;
  top: 14px;
  left: 25px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-11xs);
  z-index: 1;
}
.work-card2 {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--color-aliceblue-100);
}
.contact4,
.nav-cards1,
.navbar1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.contact4 {
  margin: 0 !important;
  top: 16px;
  left: 17px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}
.nav-cards1,
.navbar1 {
  justify-content: center;
}
.nav-cards1 {
  margin: 0 !important;
  top: 10px;
  left: 31px;
  flex-direction: row;
  gap: var(--gap-21xl);
  z-index: 1;
}
.navbar1 {
  top: 164px;
  left: 839px;
  flex-direction: column;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
}
.work-page {
  position: relative;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
